.buttonExpand {
  color: red;

}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 12px 8px;
  background-image: url(assets/images/hero.png);
  height: 500px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  
}



header ul li {
  display: inline-block;
  margin: 10px;
  
  
  
}

#logoDiv {
  width: 100px;
  float: left;
}



.headerBar {
  display: flex;
  justify-content: right;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: ivory;
}
