

ul {
    list-style-type: none;
    margin: -12px -8px;
    padding: 12px 8px;
    background-image: url(assets/images/hero.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
   

}

li {
    display: inline;
    
    
}
#logoDiv {
    width: 100px;
    float: left;

}

button {
    opacity: 25%;
    border-bottom: initial;
    border: none;
}

body {
    background-color: ivory;
}

